#content {
    margin-top: 60px;
}

.navbar .label {
    position: relative;
    top: 11px;
}


.anim.ng-enter {
	transition: opacity 1s;
	opacity: 0.0;
}

.anim.ng-enter-active {
	opacity: 1.0;
}
.anim.ng-leave {
	display:none;
}

#loading {
    position: absolute;
    width: 300px;
    top: 10px;
    left: 500px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1040;
}


/* page -------------------------- */
.contentinfo.ng-leave         {
	-webkit-animation: opacityOut 0.2s both ease-in;
	-moz-animation: opacityOut 0.2s both ease-in;
	animation: opacityOut 0.2s both ease-in;
}
.contentinfo.ng-enter 		{  
    -webkit-animation:slideInRight 0.45s both ease-in;
	-moz-animation:slideInRight 0.45s both ease-in;
	animation:slideInRight 0.45s both ease-in;    
}
.trailerpage.ng-leave        {
    -webkit-animation:scaleDown 0.3s both ease-in;
	-moz-animation:scaleDown 0.3s both ease-in;
	animation:scaleDown 0.3s both ease-in;   
}
.trailerpage.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}
/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.0; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.0; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.0; -webkit-transform: scale(0.8); }
}
/* scale down */
@keyframes scaleDown {
	to 		{ opacity: 0.0; transform: scale(1.2); }
}
@-moz-keyframes scaleDown {
	to 		{ opacity: 0.0; -moz-transform: scale(1.2); }
}
@-webkit-keyframes scaleDown {
	to 		{ opacity: 0.0; -webkit-transform: scale(1.2); }
}
/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(-50px); opacity:0.0; }
	to 		{ transform: translateX(0); opacity:1.0; }
}
@-moz-keyframes slideInRight {
	from 	{ transform:translateX(-50px); opacity:0.0; }
	to 		{ transform: translateX(0); opacity:1.0; }
}
@-webkit-keyframes slideInRight {
	from 	{ transform:translateX(-50px); opacity:0.0; }
	to 		{ transform: translateX(0); opacity:1.0; }
}
/* background opacity Out */
@keyframes opacityOut {
	to   	{ opacity:0.0; }
}
@-moz-keyframes opacityOut {
	to   	{ opacity:0.0; }
}
@-webkit-keyframes opacityOut {
	to  	{ opacity:0.0; }
}