@font-face { 
   font-family: 'zvd1'; 
   src: url('font/MyriadPro-Regular.otf');  
}

* {
font-family:zvd1; 
margin: 0px;
padding: 0px;
}
body {
background:#001113;
}

.promo {
position:absolute;
top:50%;
left:30%;
width:570px;
width:40%;
height:660px;
margin-top:-330px;
}

#logo_cont {
display:table;
position:absolute;
left:0px;
top:50%;
width:100%;
height:300px;
margin-top:-350px;
z-index:100;
}
    #logo_cont #logo { 
    display:table-cell;
    background:rgba(255,255,255,0.0);
    text-align:center;
    vertical-align:bottom;
    }
        #logo img { 
        width:100%;
        height:auto;
        opacity:0.4;
        }
        
    .promo p {
    display:block;
    padding:3px 20px;
    color:#51a1ff;
    position:relative;
    z-index:110;
    }
        .promo p span {
        display:inline-block;
        color:#2882ec;
        padding-right:8px;
        }
    .promo .data {
    margin-top:58%;
    text-align:right;
    font-size:48px;
    line-height:36px;
    }
    .promo .judge {
    font-size:21px;
    }
        .promo .judge span {
        font-size:28px;
        }
    .promo .peppers {
    font-size:21px;
    }
        .promo .peppers span {
        font-size:24px;
        }

.televisor {
position:absolute;
top:50%;
left:10px;
width:calc(30% - 20px);
height:190px;
margin-top:-150px;
}

.trailer {
position:absolute;
top:50%;
left:10px;
width:calc(30% - 20px);
height:100px;
margin-top:50px;
background:rgba(0,0,0,0.3);
}

.report {
position:absolute;
top:10px;
left:10px;
width:calc(30% - 20px);
height:150px;
background:rgba(0,0,0,0.3);
}

.partner {
position:absolute;
bottom:10px;
left:10px;
width:calc(30% - 20px);
height:150px;
background:rgba(0,0,0,0.3);
}

.adress {
position:absolute;
top:10px;
right:10px;
width:calc(30% - 20px);
height:200px;
background:rgba(0,0,0,0.3);
text-align:right;
}
    .adress p {
    position:relative;
    right:0px;
    display:block;
    color:#fdfdfd;
    margin:3px 0px;
    font-size:16px;
    transition: all 0.3s ease;
    transition-delay: 0.25s;
	-webkit-transition: all 0.3s ease;
    -webkit-transition-delay: 0.25s;
	-moz-transition: all 0.3s ease;
    -moz-transition-delay: 0.25s;
	-o-transition: all 0.3s ease;
    -o-transition-delay: 0.25s;
    }
        .adress span {
        display:block;
        color:#00b1db;
        font-size:18px;
        }
        .adress font {
        display:inline-block;
        color:#00b1db;
        padding-right:5px;
        }
        .adress p img {
        position:absolute;
        top:3px;
        right:0px;
        width:20px;
        height:35px;
        background:rgba(254,254,254,0.3);
        opacity:0.0;
        transition: all 0.3s ease;
        transition-delay: 0.2s;
        -webkit-transition: all 0.3s ease;
        -webkit-transition-delay: 0.2s;
        -moz-transition: all 0.3s ease;
        -moz-transition-delay: 0.2s;
        -o-transition: all 0.3s ease;
        -o-transition-delay: 0.2s;
        }
    .adress a {
    display:block;
    margin-top:10px;
    font-size:24px;
    color:#fdfdfd;
    text-decoration:none;
    }
    .adress a:hover {
    text-decoration:underline;
    }
    .adress.active p {
    right:28px;
    transition-delay: 0.55s;
    -webkit-transition-delay: 0.55s;
    -moz-transition-delay: 0.55s;
    -o-transition-delay: 0.55s;
    }
        .adress.active p img {
        opacity:1.0;
        right:-28px;
        transition-delay: 0.6s;
        -webkit-transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        }

.infomini {
position:absolute;
bottom:50%;
right:10px;
width:calc(30% - 20px);
height:350px;
margin-bottom:-210px;
background:rgba(0,0,0,0.3);
text-align:right;
}
    .infomini p {
    display:block;
    color:#00b1db;
    margin:3px 0px;
    font-size:18px;
    }
        .infomini p font {
        color:#fdfdfd;
        font-size:16px;
        padding-right:5px;
        }
    .infomini a {
    display:block;
    margin-top:10px;
    font-size:24px;
    color:#fdfdfd;
    text-decoration:none;
    margin:17px 0px;
    }
    .infomini a:hover {
    text-decoration:underline;
    }

.contact {
position:absolute;
bottom:10px;
right:10px;
width:calc(30% - 20px);
height:100px;
background:rgba(0,0,0,0.3);
text-align:right;
}



/* INFO */
.contentinfo {
display:block;
position:absolute;
top:10px;
left:10px;
width:calc(70% - 10px);
height:calc(100% - 20px);
background:rgba(255,255,255,0.3)
}
.infobacktohomepage {
display:block;
position:absolute;
top:10px;
right:calc(30% + 10px);
font-size:24px;
}






/* REPORT */
.reportnavigation {
position:absolute;
top:0px;
left:0px;
width:300px;
height:100%;
background:rgba(0,0,0,0.3);
overflow:auto;
}
    #gotohome{
    display:block;
    width:100%;
    height:130px;
    background:rgba(255,255,255,0.3);
    margin-bottom:20px;
    }
    .seafest a {
    display:block;
    padding:10px 0px;
    font-size:21px;
    }
    .seafest .navfest {
    display:none;
    transition: all 0.34s ease;
    -webkit-transition: all 0.34s ease;
    -moz-transition: all 0.34s ease;
    -o-transition: all 0.34s ease;
    }
    .seafest.active {
    background:rgba(255,255,255,0.1);
    }
    .seafest.active .navfest {
    display:block;
    }
        .seafest .navfest a {
        display:block;
        padding:5px 0px;
        background:rgba(255,255,255,0.1);
        font-size:16px;
        }
        .seafest .navfest a:hover {
        background:rgba(255,255,255,0.2);
        }
.bgreportcontainer {
position:absolute;
top:0px;
left:300px;
width:calc(100% - 300px);
height:100%;
opacity:0.35;
}
.reportcontainer {
position:absolute;
top:0px;
left:300px;
width:calc(100% - 300px);
height:100%;
}
.reportobject {
display:none;
position:absolute;
top:0px;
left:-300px;
width:calc(100% + 300px);
height:100%;
background:rgba(0,0,0,0.75);
text-align:ceter;
overflow:auto;
color:#ffffff;
}
    .reportobject.active {
    display:block;
    }
    
.alljudges {
width:100%;
}
    .alljudges td {
    vertical-align:middle;
    text-align:left;
    }
    .preview {
    width:480px;
    height:280px;
    }
    
.video_report {
display:block;
width:800px;
margin:20px auto 0px;
}

.photopreview {
display:inline-block;
width:150px;
height:150px;
}
    .photopreview img {
    display:block;
    width:150px;
    height:150px;
    border:0px;
    }







/* TRAILER */
.trailerpage {
	display:block;
    position:absolute; 
	text-align:center;
	top:0;  
	width:100%; 
    height:100%;
    min-height:100%;
    z-index:500;
    overflow:none;
    margin:0px;
    padding:0px;
    background:#000000;
    }
.pagecontent {
    display:block;
    width:100%;
    height:100%;
    }
        .trailerpage .pagecontent .close {
        position:absolute;
        left:20px;
        top:50%;
        margin-top:-230px;
        height:460px;
        text-decoration:none;
        transition: all 0.34s ease;
        -webkit-transition: all 0.34s ease;
        -moz-transition: all 0.34s ease;
        -o-transition: all 0.34s ease;
        background:rgba(255,255,255,0.0);
        -webkit-animation: opacityIn .2s both ease-out;
        -moz-animation: opacityIn .2s both ease-out;
        animation: opacityIn .2s both ease-out;
        -moz-animation-delay: .6s;
        -webkit-animation-delay: .6s;
        animation-delay: .6s;
        }
            .trailerpage .pagecontent .close img {
            float:left;
            height:60px;
            width:60px;
            margin-top:200px;
            opacity:0.8;
            transition: all 0.34s ease;
            -webkit-transition: all 0.34s ease;
            -moz-transition: all 0.34s ease;
            -o-transition: all 0.34s ease;
            }
            .trailerpage .pagecontent .close span {
            margin-top:200px;
            float:left;
            font-family:bz5;
            font-size:48px;
            line-height:70px;
            color:#53575b;
            margin-left:10px;
            text-shadow:none;
            opacity:0.0;
            transition: all 0.34s ease;
            -webkit-transition: all 0.34s ease;
            -moz-transition: all 0.34s ease;
            -o-transition: all 0.34s ease;
            }
            
            .trailerpage .pagecontent .close:hover img {
            opacity:1.0;
                -webkit-transform-origin: 50% 50%;
                -webkit-animation: rotateClose .27s both ease-out;
                -moz-transform-origin: 50% 50%;
                -moz-animation: rotateClose .27s both ease-out;
                transform-origin: 50% 50%;
                animation: rotateClose .27s both ease-out;
                
            }
            .trailerpage .pagecontent .close:hover span {
            opacity:1.0;
            position:relative;
                -webkit-animation: textClose .2s both ease-out;
                -moz-animation: textClose .2s both ease-out;
                animation: textClose .2s both ease-out;
                -moz-animation-delay: .05s;
                -webkit-animation-delay: .05s;
                animation-delay: .05s;
            }

            
@-webkit-keyframes rotateClose {
	to { -webkit-transform: rotateZ(90deg); }
}
@-moz-keyframes rotateClose {
	to { -moz-transform: rotateZ(90deg); }
}
@keyframes rotateClose {
	to { transform: rotateZ(90deg); }
}
            
@-webkit-keyframes textClose {
	from    { top:-20px; }
    to             { top:0px; }
}
@-moz-keyframes textClose {
	from    { top:-20px; }
    to             { top:0px; }
}
@keyframes textClose {
	from    { top:-20px; }
    to             { top:0px; }
}