battl {{$routeSegment.$routeParams.bid}} <a href="#{{'zvd4.fest.battle' | routeSegmentUrl}}">>>>nomination</a>

<div class="video_report">
    кресик видео инфа о видоса социалки коменты<br/>
    {{ fests[$routeSegment.$routeParams.fid - 1].nominations[$routeSegment.$routeParams.nid - 1].battles[$routeSegment.$routeParams.bid - 1] }}
</div>