battle {{$routeSegment.$routeParams.nid}}
<br/>
{{ fests[$routeSegment.$routeParams.fid - 1].nominations[$routeSegment.$routeParams.nid - 1] }}
<div>
    <h1>{{ fests[$routeSegment.$routeParams.fid - 1].title }} {{ fests[$routeSegment.$routeParams.fid - 1].nominations[$routeSegment.$routeParams.nid - 1].title }}</h1>
        
        <a ng-repeat="battle in fests[$routeSegment.$routeParams.fid - 1].nominations[$routeSegment.$routeParams.nid - 1].battles"
           ng-href="#{{ 'zvd4.fest.battle.video' | routeSegmentUrl: {bid: battle.bid} }}"
           ng-class="{{ battle.classplan }}" class="battlevideolink">
           {{ battle.plan }} {{ battle.dancer1 }} vs {{ battle.dancer2 }}
        </a>
    </div>
        
    <div app-view-segment="3" 
         class="anim reportobject"
         ng-class="{active: ('zvd4.fest.battle.video' | routeSegmentStartsWith)}">
    </div>
</div>