<div>
{{$routeSegment.$routeParams.fid}}
<br/><br/>
{{ fests }}
<br/><br/>
    <table class="alljudges">
        <tr ng-repeat="judge in fests[$routeSegment.$routeParams.fid - 1].judges">
            <td class="preview">
                <a ng-href="#{{ 'zvd4.fest.judge.showcase' | routeSegmentUrl: {jid: judge.jid} }}">{{ judge.url_img }}</a>
            </td>
            <td class="info">
                <h3>{{ judge.title }}</h3>
                <p>{{ judge.info }}</p>
            </td>
        </tr>
    </table>
    <div app-view-segment="3" 
         class="anim reportobject"
         ng-class="{active: ('zvd4.fest.judge.showcase' | routeSegmentStartsWith)}">
    </div>
</div>