<div>

            <a class="photopreview" ng-repeat="photo in fests[$routeSegment.$routeParams.fid - 1].photos"
                ng-class="{active: ('pid' | routeSegmentParam) == photo.pid}"
                ng-href="#{{ 'zvd4.fest.photo.onephoto' | routeSegmentUrl: {pid: photo.pid} }}">
                <img src="#" />{{ photo.small }}
            </a>

    <div app-view-segment="3" 
         class="anim reportobject"
         ng-class="{active: ('zvd4.fest.photo.onephoto' | routeSegmentStartsWith)}">
    </div>
</div>
