<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>ZVD routing complited</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    
    <div class="anim {{ pageClass }}" app-view-segment="0"></div>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>
    <script src="angular-route-segment.js"></script>
    <script src="app.js"></script>
    <script src="controllers/ReportCtrl.js"></script>
    <script src="controllers/PhotoCtrl.js"></script>
    <script src="controllers/VideoJudgeCtrl.js"></script>
    <script src="controllers/VideoBattleCtrl.js"></script>
    <script src="controllers/HomeCtrl.js"></script>
    <script src="controllers/InfoCtrl.js"></script>
    <script src="controllers/TrailerCtrl.js"></script>
</body>
</html>
