judge judge {{$routeSegment.$routeParams.fid}} {{$routeSegment.$routeParams.jid}} <a href="#{{'zvd4.fest.judge' | routeSegmentUrl}}">>>>judge</a>

<div class="video_report">
    кресик видео инфа о видоса социалки коменты<br/>
    {{ fests[$routeSegment.$routeParams.fid - 1].judges[$routeSegment.$routeParams.jid - 1] }}
</div>