one photo {{$routeSegment.$routeParams.pid}} <a href="#{{'zvd4.fest.photo' | routeSegmentUrl}}">>>>photos</a>

<div class="video_report">
    кресик фотка социалки коменты<br/>
    {{ fests[$routeSegment.$routeParams.fid - 1].photos[$routeSegment.$routeParams.pid - 1] }}
</div>