<div class="promo">
            <div id="logo_cont">
                <div id="logo">
                    <img src="img/biglogo.png" />
                </div>
            </div>
    <p class="data">22 23<br/>AVGUST</p>
    <p class="judge"><span>Judges</span></p>
    <p class="judge">unknown 1#</p>
    <p class="judge">unknown 2#</p>
    <p class="judge">unknown 3#</p>
    <p class="peppers"><span>DJ</span>unknown</p>
    <p class="peppers"><span>MC</span>unknown</p>
</div>

<div class="televisor">
    <img src="img/televisor.png"/>
</div>

<div class="trailer">
    <a href="#{{'zvd2' | routeSegmentUrl}}">trailer</a>
</div>

<div class="report">
<a href="#{{'zvd4' | routeSegmentUrl}}">report</a>
</div>

<div class="adress">
    <p><span>what</span><font>where</font>full address of the place</p>
    <p><span>what</span><font>where</font>full address of the place</p>
    <p><span>what</span><font>where</font>full address of the place</p>
    <a href="#{{ 'zvd3.map' | routeSegmentUrl }}">On the map</a>
</div>

<div class="infomini">
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <a href="#{{ 'zvd3.nomination' | routeSegmentUrl }}">Moer about nomination</a>
    <a href="#{{ 'zvd3.registration' | routeSegmentUrl }}">registration</a>
    <a href="#{{ 'zvd3' | routeSegmentUrl }}">timing and information</a>
</div>

<div class="contact">
contact
</div>

<div class="partner">
partner
</div>