
<div class="adress" ng-class="{active: ('zvd3.map' | routeSegmentStartsWith)}">
    <p><img src="#"/><span>what</span><font>where</font>full address of the place</p>
    <p><img src="#"/><span>what</span><font>where</font>full address of the place</p>
    <p><img src="#"/><span>what</span><font>where</font>full address of the place</p>
    <a href="#{{ 'zvd3.map' | routeSegmentUrl }}">On the map</a>
</div>

<div class="infomini">
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <p><font>?vs?</font>Nomination</p>
    <a href="#{{ 'zvd3.nomination' | routeSegmentUrl }}">Moer about nomination</a>
    <a href="#{{ 'zvd3.registration' | routeSegmentUrl }}">registration</a>
    <a href="#{{ 'zvd3' | routeSegmentUrl }}">timing and information</a>
</div>

<div class="contact">
contact
</div>

    <div class="contentinfo" app-view-segment="1"></div>
    <a class="infobacktohomepage" href="#{{'zvd1' | routeSegmentUrl}}">go to home page</a>
