<div class="reportnavigation" ng-controller="ReportCtrl">

        <a id="gotohome" href="#{{'zvd1' | routeSegmentUrl}}">home</a>
        <div class="seafest"
             ng-class="{active: ('fid' | routeSegmentParam) == fest.fid}"
             ng-repeat="fest in fests">
            
            <a ng-href="#{{ 'zvd4.fest' | routeSegmentUrl: {fid: fest.fid} }}">{{ fest.title }}</a>
                
                <ul class="navfest" ng-if="fest.nominations">
                    <a ng-class="{active: ('zvd4.fest.judge' | routeSegmentStartsWith)}" 
                       href="#{{'zvd4.fest.judge' | routeSegmentUrl}}">
                       >>>judge
                    </a>
                    <a ng-class="{active: ('zvd4.fest.photo' | routeSegmentStartsWith)}"                  
                       href="#{{'zvd4.fest.photo' | routeSegmentUrl}}">
                       >>>photos
                    </a>
                    <a ng-repeat="nomination in fest.nominations"
                       ng-class="{active: ('nid' | routeSegmentParam) == nomination.nid}"
                       ng-href="#{{ 'zvd4.fest.battle' | routeSegmentUrl: {nid: nomination.nid} }}">
                       >>>{{ nomination.title }}
                    </a>
                </ul>
                
        </div>

</div>


<div app-view-segment="1" class="anim bgreportcontainer">No item selected.</div>
<div app-view-segment="2" ng-controller="ReportCtrl" class="anim reportcontainer"></div>
