<div class="pagecontent">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/N7Xb60xKHbw?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen></iframe>
<a href="#{{'zvd1' | routeSegmentUrl}}" class="close"><img src="style/img/close.png"/><span>ЗАКРЫТЬ</span></a>
</div>